<!DOCTYPE html>
<html>
<head>
    <title>{{ chara_info['Kname'] }} - Card Info</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Card Info for {{ chara_info['Kname'] }} ({{ charaname }}-{{ another }})</h1>
    <p>{{ chara_info['description'] }}</p>

    <h2>Card List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>카드명</th>
                <th>카드 효과</th>
            </tr>
        </thead>
        <tbody>
            {% for card in card_data %}
            <tr>
                <td>{{ card['cardname'] }}</td>
                <td>{{ card['cardText'] if card['cardText'] else ''}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/furuDB/cardDB/">Back to Card Menu</a>
</body>
</html>